.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  background-color: #282537;
  background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
}

.Library {
  flex-grow: 1;
}

.Header, .Footer {
  height: 5vh;
}